.navbar {
    position: relative;
    width: 100%;
    background-color: #35858B;
    padding: 20px 0;
}

.menu_icon {
    position: absolute;
    right: 20px;
    top: 40px;
    transform: translate(0%, -50%);
    display: none;
}

.navbar_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 4%;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 0px 10px;
    transition: 0.8s;
}

.navbar a:hover {
    color: #FF6363;
}

.navbar_brand a {
    font-size: 2rem;
}

@media(max-width: 800px) {

    .menu_icon {
        display: block;
    }
    .navbar_content {
        display: block;
        width: 100%;
        justify-content: center;
        padding: 0 2%;
    }
    .navbar a {
        display: block;
        padding: 15px 0px;
    }
    .navbar_brand a {
        font-size: 1.8rem;
        padding: 0;
    }
    
}