.navbar {
    width: 100%;
    background-color: #35858B;
    padding: 1% 0%;
}

.navbar_content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.navbar a:hover {
    color: black;
}

.navbar_routes a:first-child {
    margin-right: 20px;
}

.navbar_brand a {
    font-size: 2rem;
}