/* .dashboard {
  position: absolute;
  left: 0; 
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: aqua;
} */

.services {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.service_card {
  width: 20%;
  text-align: center;
  border: 0.2px solid rgba(0, 0, 0, 0.055);
  padding: 30px 10px;
}