.dropdown {
    width: 100%;
    position: absolute;
    top: 105%;
    left: 0;
    background-color: #1572A1;
    padding: 10% 0%;
    border-radius: 4px;
    z-index: 1;
}

.dropdown_content {
    padding: 4% 6%;
}

.dropdown_content:hover {
    background-color: #FF6363;
}