.file_upload_container {
    width: 50%;
    padding: 5%;
    background-color: aqua;
    position: relative;
    margin: auto;
}

.image_file_input {
    width: 85%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
}

.image_file_input input[type=file] {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1; /* z-index will move the input element to the top of other element and opacity 0 will make it invisible */
    opacity: 0; /* Opacity is the trum card here. Opacity zero will render the input element invisible */
    border: 1px solid red;
}
  
.image_filename, .image_upload_button {
    font-size: 0.7rem;
    height: 50%;
    border: 1px solid rgba(0, 0, 0, 0.267);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
  
}
  
.image_filename {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: black;
    font-size: 0.7rem;
    overflow: hidden;
}
  
.image_upload_button {
    position: absolute;
    width: 25%;
    left: 75%;
    top: 0;
    background-color:#FFEBC9;
    color: black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}
